<%- include('partials/body-top') %>
<%- include('partials/nav') %>

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Your coverage</h2>
        <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">The list of your coverage</p>
    </div>
</section>

<%- include('partials/footer') %>
<%- include('partials/body-bottom.ejs') %>