<%- include('partials/header') -%>
<%- include('partials/loginSelector') -%>

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
        <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Your coverage is saved</h2>
            <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Login to your account to view your saved coverage</p>
        </div> 
        <a href="/profile/quotes" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Login
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2m-8 1V4m0 12-4-4m4 4 4-4"/>
              </svg>
        </a>
    </div>


<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">About</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Contact</a>
        </li>
    </ul>
    </div>
</footer>

  </section>





<h1 class="text-4xl">Hello World</h1>

<% if (locals.isAuthenticated) { %>
    <p>You are logged in. <a href="/profile" class="underline">View your profile</a>.</p>
<% } else { %>
    <p>You are not logged in. <a href="/login" class="underline">Login</a>.</p>
    <form id="emailDiscovery" action="http://localhost:3000/discovery" method="post">
        <div class="row g-3">
            <div class="col-12">
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" placeholder="Your Email" name="email">
                    <label for="email">Your Email</label>
                </div>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-primary w-100 py-3" type="submit">Next</button>
            </div>
        </div>
    </div>
</form>
<% } %>

<%- include('partials/footer') -%>
